---
import CardHeroTyped from "@/components/ui/cards/CardHeroTyped.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import CtaBanner from "@/components/global/CtaBanner.astro";

const posts = await getCollection("blog");

const sortedPosts = posts.sort(
  (a, b) => b.data.publishDate?.valueOf() - a.data.publishDate?.valueOf()
);
---

<MainLayout title="Blog | Aguilar Abogados Asociados">
  <section class="max-w-7xl mt-[130px] md:mt-0 mx-auto">
    <div class="px-4 md:py-12">
      <h1 class="text-[min(10vw,62px)] font-bold">Blog</h1>
      <h2 class="text-[min(6vw,32px)] font-bold mb-12">
        Aquí encontrará los mas recientes artículos publicados por Aguilar &
        Abogados Asociados.
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {sortedPosts.map((post) => <CardHeroTyped post={post} />)}
      </div>
    </div>
  </section>
  <CtaBanner
    title="¿Queremos conocer su caso?"
    subtitle="Agende una llamada"
    ctaText="Consulte sin costo"
    href="/contacto"
  />
</MainLayout>
