
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}


@import "tailwindcss";

@layer base {
  h1 {
    font-family: var(--font-montserrat);
  }
  h2 {
    font-family: var(--font-montserrat);
  }
  h3 {
    font-family: var(--font-montserrat);
  }
  p {
    font-family: var(--font-roboto);
  }
  a {
    font-family: var(--font-roboto);
  }
  span {
    font-family: var(--font-roboto);
  }
}

@theme {
  /* Fonts */

  --font-montserrat: 'Montserrat', system-ui, sans-serif;
  --font-roboto: 'Roboto', system-ui, serif;

/* Color palette */

--color-gold-50: #f9f6ed;
--color-gold-100: #f0e8d1;
--color-gold-200: #e2d0a6;
--color-gold-300: #d0b374;
--color-gold-400: #c49b53;
--color-gold-500: #b3843f;
--color-gold-600: #9a6834;
--color-gold-700: #7b4e2d;
--color-gold-800: #68412b;
--color-gold-900: #5a3829;
--color-gold-950: #331d15;

--color-deepdark-50: #f6f6f6;
--color-deepdark-100: #e7e7e7;
--color-deepdark-200: #d1d1d1;
--color-deepdark-300: #b0b0b0;
--color-deepdark-400: #888888;
--color-deepdark-500: #6d6d6d;
--color-deepdark-600: #5d5d5d;
--color-deepdark-700: #4f4f4f;
--color-deepdark-800: #454545;
--color-deepdark-900: #3d3d3d;
--color-deepdark-950: #202020;

--color-darkGray-50: #f6f6f6;
--color-darkGray-100: #e7e7e7;
--color-darkGray-200: #d1d1d1;
--color-darkGray-300: #b0b0b0;
--color-darkGray-400: #888888;
--color-darkGray-500: #6d6d6d;
--color-darkGray-600: #5d5d5d;
--color-darkGray-700: #4f4f4f;
--color-darkGray-800: #444444;
--color-darkGray-900: #3d3d3d;
--color-darkGray-950: #262626;

--color-softWhite-50: #fefefe;
--color-softWhite-100: #efefef;
--color-softWhite-200: #dcdcdc;
--color-softWhite-300: #bdbdbd;
--color-softWhite-400: #989898;
--color-softWhite-500: #7c7c7c;
--color-softWhite-600: #656565;
--color-softWhite-700: #525252;
--color-softWhite-800: #464646;
--color-softWhite-900: #3d3d3d;
--color-softWhite-950: #292929;

}

