---

---

<section>
  <div>
    <h1 class="text-[min(10vw,64px)] text-gold-500 text-center bg-darkGray-400 font-extrabold hover:text-gold-400">Welcome to Our Website</h1>
    <p>Your journey to excellence starts here.</p>
    
  </div>
</section>
