---
import colombiaCanvaSvg from "@/assets/images/colombiaCanva.svg";
import { Image } from "astro:assets";
---

<section>
    <div>
        <Image src={colombiaCanvaSvg} width={250} height={250} alt="Colombia" />
    </div>
</section>
