---

---

<section class="max-w-7xl pt-[750px] md:pt-72 md:pb-2 mx-auto">
  <div class="flex flex-col items-center">
    <h1
      class="text-[min(10vw,52px)] font-bold text-deepdark-900 leading-tight tracking-tight"
    >
      Nuestros servicios
    </h1>
    <div class="mt-5 max-w-3xl text-center">
      <p class="p-2 prose text-[min(6vw,18px)]">
        Ofrecemos asesoría y representación jurídica integral ante compañías de
        seguros, la Defensoría del Consumidor Financiero y entidades judiciales.
        Desde negaciones de indemnización por robo de vehículo o salud, hasta
        asesoría corporativa y prevención de riesgos para empresas.
      </p>
    </div>
  </div>
</section>
