---

---

<section class="max-w-7xl mx-auto pt-[750px] md:pt-72 pb-24">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 px-5">
        <div class="flex flex-col items-center p-5">
            <p
                class="text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
            >
                1
            </p>
            <h2
                class="text-[min(6vw,20px)] font-bold text-deepdark-900 mt-4 text-center"
            >
                Agenda tu consulta sin costo
            </h2>
            <p
                class="text-center text-deepdark-900 text-[min(4vw,16px)] md:text-[min(vw,16px)]"
            >
                Puede elegir entre WhatsApp o Google Calendar.
            </p>
        </div>
        <div class="flex flex-col items-center p-5">
            <p
                class="text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
            >
                2
            </p>
            <h2
                class="text-[min(6vw,20px)] font-bold text-deepdark-900 mt-4 text-center"
            >
                Analizamos su póliza y evidencias
            </h2>
            <p
                class="text-center text-deepdark-900 text-[min(4vw,16px)] md:text-[min(vw,16px)]"
            >
                y le explicamos opciones claras.
            </p>
        </div>
        <div class="flex flex-col items-center p-5">
            <p
                class="text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
            >
                3
            </p>
            <h2
                class="text-[min(6vw,20px)] font-bold text-deepdark-900 mt-4 text-center"
            >
                Defendemos su indemnización
            </h2>
            <p
                class="text-center text-deepdark-900 text-[min(4vw,16px)] md:text-[min(vw,16px)]"
            >
                negociamos o demandamos.
            </p>
        </div>
    </div>
</section>
