---
import MainLayout from "@/layouts/MainLayout.astro";
import CalendarSvg from "@/assets/icons/calendar.svg";
import FormSvg from "@/assets/icons/form.svg";
import WhatsAppSvg from "@/assets/icons/whatsapp.svg";
---

<MainLayout title="Contacto">
  <section class="max-w-7xl pt-[130px] md:pt-0 mx-auto">
    <div class="md:my-20 my-10">
      <!-- title -->
      <div class="flex flex-col items-center px-4 py-6 md:py-12">
        <h1 class="text-[min(10vw,62px)] text-center font-bold">
          ¿Listo para recuperar lo que es suyo?
        </h1>
        <h2 class="text-[min(6vw,20px)] text-center font-semibold mt-5">
          <span class="block text-deepdark-900"
            >Estamos aqui para ayudarlo.
          </span>
          <span class="block text-deepdark-900"
            >Elija el método que le resulte más cómodo.</span
          >
        </h2>
      </div>
      <!-- cards -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
        <!-- card -->
        <div
          class="flex flex-col rounded-xl shadow-xl border border-deepdark-100 space-y-5 items-center justify-center p-5 md:hover:scale-105 transition duration-400 ease-in-out"
        >
          <CalendarSvg width={90} height={90} />
          <h2 class="text-[min(6vw,24px)] text-center font-semibold">
            Agende una llamada con un abogado experto
          </h2>
          <p class="text-[min(6vw,18px)] text-center">
            Seleccione el día y hora que mejor le convenga.
          </p>
          <p class="text-[min(6vw,18px)] text-center">
            La consulta es gratuita, por videollamada.
          </p>

          <div id="scheduling-button" class="shadow-lg"></div>
        </div>

        <!-- card -->
        <div
          class="flex flex-col rounded-xl shadow-xl border border-deepdark-100 space-y-5 items-center p-5 md:hover:scale-105 transition duration-400 ease-in-out"
        >
          <FormSvg width={80} height={80} />
          <h2 class="text-[min(6vw,24px)] text-center font-semibold">
            Dejenos los detalles de su caso
          </h2>
          <p class="text-[min(6vw,18px)] text-center">
            Sí prefiere, cuentenos su situacion y nosotros lo contactamos.
          </p>

          <iframe
            id="JotFormIFrame-251615611401040"
            title="Nos encantaria conocer su caso"
            onload="window.parent.scrollTo(0,0)"
            allowtransparency="true"
            allow="geolocation; microphone; camera; fullscreen; payment"
            src="https://form.jotform.com/251615611401040"
            style=" min-width:100%; max-width:100%; height:250px; border: 1px solid #ccc; border-radius: 10px;"
          >
          </iframe>
        </div>
        <!-- card -->
        <div
          class="flex flex-col rounded-xl shadow-xl border border-deepdark-100 space-y-5 items-center justify-center p-5 md:hover:scale-105 transition duration-400 ease-in-out"
        >
          <WhatsAppSvg width={90} height={90} />
          <h2 class="text-[min(6vw,24px)] text-center font-semibold">
            Hable ahora mismo con nuestro equipo vía WhatsApp.
          </h2>
          <p class="text-[min(6vw,18px)] text-center">
            Consulta rápida, atención personalizada y 100 % confidencial.
          </p>
          <!-- CTA Button -->
          <div class="mt-7 text-center">
            <a
              href="http://wa.link/rlr1pz"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Escribir por WhatsApp"
              class="inline-block px-4 py-1 rounded-sm bg-gradient-to-r from-deepdark-950 via-deepdark-900 to-deepdark-800
                  hover:from-deepdark-800 hover:to-deepdark-900 focus:outline-1
                  text-softWhite-50 font-semibold text-lg
                  shadow-md transition duration-400 ease-in-out
                  transform hover:scale-105"
            >
              Escribir por WhatsApp
            </a>
          </div>
        </div>
      </div>
      <!-- Message -->
      <div class="flex flex-col items-center mt-10 px-4">
        <p class="text-center text-[min(6vw,24px)]">
          Tiempo de respuesta promedio: menos de 2 horas.
        </p>
        <p class="text-center text-[min(6vw,24px)]">
          Su <strong>tranquilidad</strong> es nuestra prioridad desde el primer contacto.
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-center md:flex-row space-x-5 p-5">
      <div class="flex flex-col space-y-2 mb-5 px-4">
        <h2 class="text-[min(6vw,32px)] font-bold mb-5">
          <span class="block">Nuestra informacion</span>
          <span class="block">de contacto</span>
        </h2>
        <div class="flex items-start">
          <svg
            class="mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><rect width="24" height="24" fill="none"></rect><path
              fill="currentColor"
              d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"
            ></path></svg
          >
          <p class="text-deepdark-900 text-[min(6vw,18px)]">
            Cra 58 #119A -49, Bogotá
          </p>
        </div>
        <div class="flex items-start">
          <svg
            class="mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><rect width="24" height="24" fill="none"></rect><path
              fill="currentColor"
              d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
            ></path></svg
          >
          <p class="text-deepdark-900 text-[min(6vw,18px)]">301-551-1676</p>
        </div>
        <div class="flex items-start">
          <svg
            class="mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><rect width="24" height="24" fill="none"></rect><path
              fill="currentColor"
              d="m20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2"
            ></path></svg
          >
          <p
            class="text-deepdark-900 text-[min(6vw,16px)] md:text-[min(6vw,18px)]"
          >
            contacto@aguilarabogadosasociados.com
          </p>
        </div>
      </div>
      <div class="flex justify-center px-4 rounded-2xl">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3694378391633!2d-74.07245452545587!3d4.705721695269318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ad085fa7939%3A0x4f9cf1906638b8c6!2sAguilar%20%26%20Abogados%20Asociados%20-%20Abogados%20expertos%20en%20Derecho%20de%20Seguros!5e0!3m2!1ses!2sco!4v1750277096125!5m2!1ses!2sco"
          width="400"
          height="250"
          style="border:1px solid #ccc; border-radius: 10px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

  <script is:inline>
    (function initSched() {
      if (window.calendar?.schedulingButton) {
        calendar.schedulingButton.load({
          url: "https://calendar.google.com/calendar/appointments/AcZssZ2o74GHJbSZieGU4YSOwXhiGW7MnQFVwWCq75A=?gv=true",
          color: "#3d3d3d",
          label: "Reservar mi cita",
          target: document.getElementById("scheduling-button"),
        });
      } else {
        // try again in 100ms until the script has loaded
        setTimeout(initSched, 100);
      }
    })();
  </script>
</MainLayout>
