---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Servicios"
  description="Servicios ofrecidos por aguilar y asociados"
>
  <h1 class="text-gold-500">Servicios</h1>
</MainLayout>
