---
import LogoBlackLetters from "@/assets/images/logoblackletters.svg";
import GoogleWordSvg from "@/assets/icons/googleWord.svg";
---

<section class="max-w-7xl mx-auto my-20 px-4">
    <h1
        class="text-[min(10vw,52px)] font-bold text-deepdark-900 leading-tight tracking-tight text-center"
    >
        Clientes que han confiado en nosotros
    </h1>
    <div
        class="flex flex-col items-center md:flex-row md:items-center md:justify-center md:gap-10 my-10"
    >
        <!-- Card -->

        <div class="flex flex-col items-center">
            <LogoBlackLetters width={200} height={100} />
            <p class="text-[min(6vw,20px)] font-bold">
                5.0 <span class="text-[min(6vw,20px)]">⭐⭐⭐⭐⭐</span>
            </p>

            <p class="text-[min(6vw,20px)]">Basado en 97 reseñas</p>
            <div class="flex items-center gap-2">
                <p class="text-[min(6vw,18px)] text-deepdark-400">Powered by</p>
                <GoogleWordSvg width={70} height={50} />
            </div>
            <a
                href="https://www.google.com/search?sca_esv=d97433a5031dd70b&sxsrf=AE3TifMFV-7ZHWuNRa65prp57SVQkV6k-g:1749743689512&si=AMgyJEtREmoPL4P1I5IDCfuA8gybfVI2d5Uj7QMwYCZHKDZ-E4xxZgL8yEQnRXAlkyKHOtbb9IneTDmD273YkBr8w6H-DQ0nu8RXLN1oyZnCtCE9HtPGZDla_yBehK6PtTrcH-BAfMuL_MP9saZ2W-TEzP_io_W28WzBJ21GkO-JkM1FvfhhlUD4UvPm88xL2rC4okVs2rOgBKPVda6QmtH6OL4Fx6f5Qg%3D%3D&q=Aguilar+%26+Abogados+Asociados+-+Abogados+expertos+en+Derecho+de+Seguros+Opiniones&sa=X&ved=2ahUKEwjfz76Yn-yNAxWlTTABHY5qNgAQ0bkNegQIJBAE&biw=1517&bih=665&dpr=0.9"
                target="_blank"
                class="text-center px-4 py-2 rounded-xl bg-gradient-to-r from-gold-400 to-gold-500
                        hover:from-gold-500
                        hover:to-gold-400 focus:outline-1
                        text-softWhite-50 font-semibold text-lg
                        shadow-md transition duration-400 ease-in-out
                        transform hover:scale-105"
            >
                Ver reseñas
            </a>
        </div>

        <div class="hidden md:block h-40 w-px bg-quill-gray-500 mx-4"></div>

        <!-- Carousel -->

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div
                    class="swiper-slide max-w-xs overflow-hidden bg-white border border-gray-200 rounded-xl shadow-md transform transition-all duration-500 hover:shadow-lg relative group"
                >
                    <div
                        class="absolute inset-0 bg-gradient-to-br from-quill-gray-100 to-softWhite-50 opacity-0 transition-opacity duration-500 group-hover:opacity-30 blur-md"
                    >
                    </div>
                    <div class="p-6 relative z-10">
                        <p
                            class="text-[min(6vw,20px)] font-semibold text-deepdark-900"
                        >
                            Mabel Benítez Holguín
                        </p>
                        <p
                            class="prose text-[min(6vw,18px)] leading-tight tracking-tight mt-2 text-deepdark-800"
                        >
                            Encontrar a Aguilar & Abogados Asociados mediante
                            las redes sociales fue el mayor acierto que pudo
                            ponerme la vida frente al caso de negativa de pago
                            de mi seguro de invalidez por parte de la compañía
                            BBVA Seguros.
                        </p>
                        <div class="flex items-center mt-4 text-deepdark-800">
                            <span>⭐⭐⭐⭐⭐</span>
                            <span class="ml-2">5.0 (97 reseñas)</span>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-slide max-w-xs overflow-hidden bg-white border border-gray-200 rounded-xl shadow-md transform transition-all duration-500 hover:shadow-lg relative group"
                >
                    <div
                        class="absolute inset-0 bg-gradient-to-br from-gray-100 to-white opacity-0 transition-opacity duration-500 group-hover:opacity-30 blur-md"
                    >
                    </div>
                    <div class="p-6 relative z-10">
                        <p class="text-xl font-semibold text-gray-800">
                            Santiago Rua Henao
                        </p>
                        <p
                            class="prose text-[min(6vw,18px)] leading-tight tracking-tight mt-2 text-deepdark-800"
                        >
                            El señor Alejandro es un abogado profesional, y su
                            firma es altamente calificada. Cumplió a cabalidad
                            con sus condiciones para representarme. Sin duda
                            contrataría sus servicios de nuevo.
                        </p>
                        <div class="flex items-center mt-4 text-deepdark-800">
                            <span>⭐⭐⭐⭐⭐</span>
                            <span class="ml-2">5.0 (97 reseñas)</span>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-slide max-w-xs overflow-hidden bg-white border border-gray-200 rounded-xl shadow-md transform transition-all duration-500 hover:shadow-lg relative group"
                >
                    <div
                        class="absolute inset-0 bg-gradient-to-br from-gray-100 to-white opacity-0 transition-opacity duration-500 group-hover:opacity-30 blur-md"
                    >
                    </div>
                    <div class="p-6 relative z-10">
                        <p
                            class="text-[min(6vw,20px)] font-semibold text-deepdark-900"
                        >
                            Juan Pacheco
                        </p>
                        <p
                            class="prose text-[min(6vw,18px)] leading-tight prose-p:tracking-tight mt-2 text-deepdark-800"
                        >
                            No me pude haber sentido en mejores manos, una firma
                            de abogados muy profesional, seria, y lo màs
                            importante, hizo respetar mis derechos ante una de
                            las empresas de Seguros màs grandes del mundo.
                        </p>
                        <div class="flex items-center mt-4 text-gray-600">
                            <span>⭐⭐⭐⭐⭐</span>
                            <span class="ml-2">5.0 (97 reseñas)</span>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-slide max-w-xs overflow-hidden bg-white border border-gray-200 rounded-xl shadow-md transform transition-all duration-500 hover:shadow-lg relative group"
                >
                    <div
                        class="absolute inset-0 bg-gradient-to-br from-gray-100 to-white opacity-0 transition-opacity duration-500 group-hover:opacity-30 blur-md"
                    >
                    </div>
                    <div class="p-6 relative z-10">
                        <p
                            class="text-[min(6vw,20px)] font-semibold text-deepdark-900"
                        >
                            Dj Rueda
                        </p>
                        <p
                            class="prose text-[min(6vw,18px)] leading-tight tracking-tight mt-2 text-deepdark-800"
                        >
                            El Abogado Alejandro es muy amable, diligente,
                            rápido, siempre estuvo atento como si el dinero que
                            nos debían fuera de él!. Gracias al Dr Alejandro,
                            pudimos recuperar nuestro dinero!
                        </p>
                        <div class="flex items-center mt-4 text-gray-600">
                            <span>⭐⭐⭐⭐⭐</span>
                            <span class="ml-2">5.0 (97 reseñas)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <style>
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }

        .swiper-pagination {
            bottom: 0px;
        }
    </style>

    <script>
        import Swiper from "swiper";
        import {
            Navigation,
            Pagination,
            EffectCoverflow,
            Autoplay,
        } from "swiper/modules";
        import "swiper/css";
        import "swiper/css/navigation";
        import "swiper/css/pagination";
        import "swiper/css/effect-coverflow";

        const swiper = new Swiper(".mySwiper", {
            modules: [Navigation, Pagination, EffectCoverflow, Autoplay],
            effect: "coverflow",

            centeredSlides: true,
            slidesPerView: "auto",
            initialSlide: document.querySelectorAll(".swiper-slide").length - 1,
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
        });
    </script>
</section>
