---
import { Image } from "astro:assets";
import heroSuccessCasesStatistics from "@/assets/images/herosuccesscases.webp";
---

<section class="relative h-[80vh] md:h-screen">
    <!-- 1. Background image -->
    <Image
        src={heroSuccessCasesStatistics}
        alt="Fondo Hero Aguilar & Abogados"
        class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- 2. Transparent overlay to improve contrast -->
    <div class="absolute inset-0 bg-deepdark-950/60"></div>

    <!-- 3. Centered to left container for text -->
    <div
        class="relative z-10 flex flex-col justify-center px-4 top-[12%] md:left-[10%] md:top-0 md:px-6 lg:px-8 h-full"
    >
        <!-- Main title -->
        <h1
            class="text-[min(10vw,64px)] font-bold text-softWhite-50 mb-4 leading-tight tracking-tight"
        >
            Nosotros luchamos <span class="block"
                >por lo que le corresponde</span
            >
        </h1>

        <!-- Subtitle (two lines) -->
        <p class="text-softWhite-50 mb-6 max-w-2xl">
            Conozca aqui nuestros casos de éxito
        </p>
    </div>
</section>

<script>
    import { numberAnimation } from "@/scripts/gsap/numberAnimation";
    numberAnimation();
</script>
