---
import PlusSvg from "@/assets/icons/plus.svg";
---

<section class="mx-auto mt-16 md:mt-20">
    <div class="flex flex-col items-center px-4 sm:px-5 lg:px-10">
        <!-- Statistics -->
        <div
            class="max-w-7xl flex flex-col items-center md:flex-row md:justify-between gap-5"
        >
            <div class="flex flex-col gap-3 mb-5">
                <h1
                    class="text-[min(10vw,32px)] font-bold text-deepdark-900 leading-tight tracking-tight"
                >
                    ¿La aseguradora negó su reclamo?
                </h1>
                <h1
                    class="text-[min(10vw,32px)] font-bold text-deepdark-900 leading-tight tracking-tight"
                >
                    ¿No responden a sus solicitudes?
                </h1>
                <h1
                    class="text-[min(10vw,32px)] font-bold text-deepdark-900 leading-tight tracking-tight"
                >
                    Nosotros luchamos por lo que
                    <span class="block">le corresponde.</span>
                </h1>
            </div>
            <div class="flex flex-col p-10 items-center justify-center">
                <div class="flex items-center gap-3">
                    <PlusSvg width={100} height={100} />
                    <p
                        class="text-[min(10vw,62px)] font-extrabold text-gold-400 number"
                    >
                        100
                    </p>
                </div>
                <h1 class="block text-[min(10vw,32px)] font-bold text-gold-400">
                    Casos resueltos
                </h1>
            </div>
        </div>
    </div>
</section>

<script>
    import { numberAnimation } from "@/scripts/gsap/numberAnimation";
    numberAnimation();
</script>
