<section class="mx-auto my-20 md:my-32">
    <!-- Why Choose Us -->
    <div class="flex flex-col items-center p-5">
        <h1
            class="text-[min(10vw,52px)] text-center font-bold text-deepdark-900 leading-tight tracking-tight"
        >
            <span class="block">¿Por qué elegir a</span>
            <span class="block">Aguilar & Abogados Asociados?</span>
        </h1>
        <div class="mt-5 max-w-3xl text-center">
            <p class="p-2 prose text-[min(6vw,18px)]">
                En nuestra firma legal, cambiamos la historia de personas y
                empresas al asegurar el pago de sus pólizas. Nos especializamos
                en derecho de seguros, dedicados a defender los derechos de
                nuestros clientes frente a las aseguradoras. Con más de 18 años
                de experiencia, comprendemos la frustración y angustia que
                provoca una reclamación denegada o demorada, y estamos aquí para
                ayudarle a obtener lo que le corresponde por derecho.
            </p>
        </div>
    </div>
    <!-- Distinct values -->
    <div class="grid grid-cols-1 gap-6 mt-5 px-5 max-w-7xl mx-auto">
        <!-- Item 1 -->
        <div class="flex items-center gap-4 p-4">
            <span
                class="flex-shrink-0 text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
                >1</span
            >
            <div>
                <h2
                    class="text-lg font-semibold text-deepdark-900 whitespace-nowrap"
                >
                    Resultados comprobados:
                </h2>
                <p class="text-[min(6vw,18px)] text-deepdark-900 mt-1">
                    96 reseñas de 5 estrellas en Google y múltiples casos de
                    éxito demuestran nuestra capacidad.
                </p>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="flex items-center gap-4 p-4">
            <span
                class="flex-shrink-0 text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
                >2</span
            >
            <div>
                <h2
                    class="text-lg font-semibold text-deepdark-900 whitespace-nowrap"
                >
                    Especialistas validados:
                </h2>
                <p class="text-[min(6vw,18px)] text-deepdark-900 mt-1">
                    Más de una década de experiencia y conocimiento profundo del
                    sector asegurador.
                </p>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="flex items-center gap-4 p-4">
            <span
                class="flex-shrink-0 text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
                >3</span
            >
            <div>
                <h2
                    class="text-lg font-semibold text-deepdark-900 whitespace-nowrap"
                >
                    Tranquilidad y alivio:
                </h2>
                <p class="text-[min(6vw,18px)] text-deepdark-900 mt-1">
                    Rompemos la asimetría de poder con las aseguradoras,
                    empoderándole y devolviéndole el control de su caso.
                </p>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="flex items-center gap-4 p-4">
            <span
                class="flex-shrink-0 text-softWhite-50 font-bold bg-gold-400 w-12 h-12 flex items-center justify-center rounded-full"
                >4</span
            >
            <div>
                <h2
                    class="text-lg font-semibold text-deepdark-900 whitespace-nowrap"
                >
                    Valores firmes:
                </h2>
                <p class="text-[min(6vw,18px)] text-deepdark-900 mt-1">
                    Puntualidad, Transparencia, Tranquilidad y Efectividad guían
                    nuestras acciones.
                </p>
            </div>
        </div>
    </div>
</section>
